$primary: #5FCF80;
$primary-light: #CEF0D9;
$primary-gray: #3E474E;
$primary-gray-light: #707070;
$primary-blue: #1473E6;
$primary-violet: #44455C;

$shade-dark: #CED4DA;
$shade-medium: #EDF0F5;
$shade-light: #F5F8FD;

$button-secondary: #868E96;
$white: #FFFFFF;

$main-nav: #E0E0E0;
$main-nav-hover: $white;