$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-sizes: (
    font-size-base: 2rem,
    font-size-medium: 1.5rem,
    font-size-large: 2.2rem,
    heading-size-xs: .813rem,
    heading-size-m: 1.5rem,
    heading-size-ml: 2rem,
    heading-size-l: 2.813rem,
    heading-size-xl: 4rem
);

